

  li {
    margin-top: 1em;
    margin-bottom: 1m;
  }

  li:after {
    clear: both;
  }

  .hidden {
      display: none;
  }

  .visible:nth-of-type(even) {
    background-color: #ddd;
  }

  .title, .author {
    display: block;
  }

  .editor {
    float: left;
    word-break: break-all;
  }

  .bibtex {
    float: right;
    font-size: 75%;
  }
