  .hidden {
      display: none;
  }

  li {
    margin-top: 1em;
    margin-bottom: 1m;
  }

  li:nth-child(odd) {
    background-color: #ddd;
  }
  
  .title, .author, .editor {
    display: block;
  }

  .bibtex {
    float: right;
    font-size: 75%;
  }